<p id="notice"><%= notice %></p>


<div class="container-upperbox">
    <nav class="second-nav-bar">
      <ul class="second-nav-ul">
        <li class="nav-item"><span class="nav-link-text"><%= link_to "Home", welcome_index_path() %></span></li>
        <li class="nav-item"><span class="nav-link-text"><%= link_to "Destinations", new_city_path %></span></li>
        <li class="nav-item"><span class="nav-link-text"><%= link_to "Articles", articles_path() %></span></li>
        <!-- <li class="nav-item"><span class="nav-link-text">Budget Calculator</span></li> -->
      </ul>
    </nav>
  <!-- Insert a picture in the background -->
</div>

<div class="user-main-content">
    <div class="left-content">
      <nav class="nav-barleft">
        <ul class="nav-ul">
          <li><span class="nav-link-text">History</span></li>
          <li><span class="nav-link-text">Weather</span></li>
          <li><span class="nav-link-text">Neighborhood</span></li>
          <li><span class="nav-link-text">Schools</span></li>
          <li><span class="nav-link-text">Transportation</span></li>
          <li><span class="nav-link-text">Job Market</span></li>
          <li><span class="nav-link-text">Sports</span></li>
          <li><span class="nav-link-text">Recreation</span></li>
          <li><span class="nav-link-text">Culture</span></li>
          <li><span class="nav-link-text">Health</span></li>
          <li><span class="nav-link-text">Currency</span></li>
          <li><span class="nav-link-text">Consulates</span></li>
          <li><span class="nav-link-text">Population</span></li>
        </ul>
      </nav>
    </div>

    <div class="middle-content">
      <h2>History</h2>
      <ul class="container">
        <li><%= @city.history %></li>
        <li><img src="" width="100" height="100" alt="" />Comment #1</li>
      </ul>
      <form action="#" method="post">
        <textarea name="comments" id="comments" style="font-family:sans-serif;font-size:1.2em;">Hey... say something!</textarea>
          <input type="submit" value="Submit">
      </form>
    </div>

    <div class="right-content">
      <h2>Cost of Living</h2>
      <div class="cost-item">
        <h4>Housing</h4>
        <span class="cost-number">$99,999</span>
      </div>
      <div class="cost-item">
        <h4>Food</h4>
        <span class="cost-number">$99,999</span>
      </div>
      <div class="cost-item">
        <h4>Transportation</h4>
        <span class="cost-number">$99,999</span>
      </div>
      <!-- insertar informacion sobre lo que cliquearon -->
    </div>
</div>
