<%= form_with(model: city, local: true) do |form| %>
  <% if city.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(city.errors.count, "error") %> prohibited this city from being saved:</h2>

      <ul>
      <% city.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-upperbox">
      <nav class="second-nav-bar">
        <ul class="second-nav-ul">
          <li class="nav-item"><span class="nav-link-text"><%= link_to "Home", welcome_index_path() %></span></li>
          <li class="nav-item"><span class="nav-link-text"><%= link_to "List Of Cities", cities_path %></span></li>
          <li class="nav-item"><span class="nav-link-text"><%= link_to "Articles", articles_path() %></span></li>
          <!-- <li class="nav-item"><span class="nav-link-text">Budget Calculator</span></li> -->
        </ul>
      </nav>
    <!-- Insert a picture in the background -->
  </div>
  <div class="field">
    <%= form.label :history %>
    <%= form.text_area :history, id: :city_history, rows: 4, placeholder: "Fun facts about the city ..." %>
  </div>

  <div class="field">
    <%= form.label :neighborhood %>
    <%= form.text_area :neighborhood, id: :city_neighborhood, rows: 4, placeholder: "Find out what areas are a good place to live ..."  %>
  </div>

  <!-- <div class="field">
    <%= form.label :schools %>
    <%= form.text_area :schools, rows: 5, id: :city_schools %>
  </div> -->

  <div class="field">
    <%= form.label :transportation %>
    <%= form.text_area :transportation, id: :city_transportation, rows: 4, placeholder: "Know the best way the get around..." %>
  </div>

  <!-- <div class="field">
    <%= form.label :job %>
    <%= form.text_area :job, rows: 5, id: :city_job %>
  </div> -->

  <!-- <div class="field">
    <%= form.label :market %>
    <%= form.text_area :market, rows: 5, id: :city_market %>
  </div> -->

  <div class="field">
    <%= form.label :sports %>
    <%= form.text_area :sports, id: :city_sports, rows: 4, placeholder: "What sports are the best in town..." %>
  </div>

  <div class="field">
    <%= form.label :recreation %>
    <%= form.text_area :recreation, id: :city_recreation,  rows: 4, placeholder: "Know the best places to go ..." %>
  </div>

  <div class="field">
    <%= form.label :culture %>
    <%= form.text_area :culture, id: :city_culture, rows: 4, placeholder: "The vibe of the town is ..." %>
  </div>

  <!-- <div class="field">
    <%= form.label :health %>
    <%= form.text_area :health, rows: 5, id: :city_health %>
  </div> -->

  <!-- <div class="field">
    <%= form.label :currency %>
    <%= form.text_area :currency, rows: 5, id: :city_currency %>
  </div> -->

  <!-- <div class="field">
    <%= form.label :consulate %>
    <%= form.text_area :consulate, rows: 5, id: :city_consulate %>
  </div> -->

  <div class="field">
    <%= form.label :population %>
    <%= form.text_area :population, id: :city_population, rows: 4, placeholder: "How big the city is ..." %>
  </div>

  <!-- <div class="field">
    <%= form.label :cost_of_living %>
    <%= form.text_area :cost_of_living, rows: 5, id: :city_cost_of_living %>
  </div> -->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
