<%= form_with(model: city, local: true) do |form| %>
  <% if city.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(city.errors.count, "error") %> prohibited this city from being saved:</h2>

      <ul>
      <% city.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :history %>
    <%= form.text_area :history, id: :city_history, rows: 5, placeholder: "Write a brief review of the city ..." %>
  </div>

  <div class="field">
    <%= form.label :neighborhood %>
    <%= form.text_area :neighborhood, rows: 5, id: :city_neighborhood %>
  </div>

  <div class="field">
    <%= form.label :schools %>
    <%= form.text_area :schools, rows: 5, id: :city_schools %>
  </div>

  <div class="field">
    <%= form.label :transportation %>
    <%= form.text_area :transportation, rows: 5, id: :city_transportation %>
  </div>

  <div class="field">
    <%= form.label :job %>
    <%= form.text_area :job, rows: 5, id: :city_job %>
  </div>

  <div class="field">
    <%= form.label :market %>
    <%= form.text_area :market, rows: 5, id: :city_market %>
  </div>

  <div class="field">
    <%= form.label :sports %>
    <%= form.text_area :sports, rows: 5, id: :city_sports %>
  </div>

  <div class="field">
    <%= form.label :recreation %>
    <%= form.text_area :recreation, rows: 5, id: :city_recreation %>
  </div>

  <div class="field">
    <%= form.label :culture %>
    <%= form.text_area :culture, rows: 5, id: :city_culture %>
  </div>

  <div class="field">
    <%= form.label :health %>
    <%= form.text_area :health, rows: 5, id: :city_health %>
  </div>

  <div class="field">
    <%= form.label :currency %>
    <%= form.text_area :currency, rows: 5, id: :city_currency %>
  </div>

  <div class="field">
    <%= form.label :consulate %>
    <%= form.text_area :consulate, rows: 5, id: :city_consulate %>
  </div>

  <div class="field">
    <%= form.label :population %>
    <%= form.text_area :population, rows: 5, id: :city_population %>
  </div>

  <div class="field">
    <%= form.label :cost_of_living %>
    <%= form.text_area :cost_of_living, rows: 5, id: :city_cost_of_living %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
