<p id="notice"><%= notice %></p>

<h1>Cities</h1>

<table>
  <thead>
    <tr>
      <th>History</th>
      <th>Neighborhood</th>
      <th>Schools</th>
      <th>Transportation</th>
      <th>Job</th>
      <th>Market</th>
      <th>Sports</th>
      <th>Recreation</th>
      <th>Culture</th>
      <th>Health</th>
      <th>Currency</th>
      <th>Consulate</th>
      <th>Population</th>
      <th>Cost of living</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.history %></td>
        <td><%= city.neighborhood %></td>
        <td><%= city.schools %></td>
        <td><%= city.transportation %></td>
        <td><%= city.job %></td>
        <td><%= city.market %></td>
        <td><%= city.sports %></td>
        <td><%= city.recreation %></td>
        <td><%= city.culture %></td>
        <td><%= city.health %></td>
        <td><%= city.currency %></td>
        <td><%= city.consulate %></td>
        <td><%= city.population %></td>
        <td><%= city.cost_of_living %></td>
        <td><%= link_to 'Show', city %></td>
        <td><%= link_to 'Edit', edit_city_path(city) %></td>
        <td><%= link_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New City', new_city_path %>
