<p id="notice"><%= notice %></p>

<h1>Cities</h1>

<div class="container-upperbox">
    <nav class="second-nav-bar">
      <ul class="second-nav-ul">
        <li class="nav-item"><span class="nav-link-text"><%= link_to "Home", welcome_index_path() %></span></li>
        <li class="nav-item"><span class="nav-link-text"><%= link_to "Destinations", new_city_path %></span></li>
        <li class="nav-item"><span class="nav-link-text"><%= link_to "Articles", articles_path() %></span></li>
        <!-- <li class="nav-item"><span class="nav-link-text">Budget Calculator</span></li> -->
      </ul>
    </nav>
  <!-- Insert a picture in the background -->
</div>

<table class="alistcity">
  <!-- <thead>
    <tr>
      <th>History</th>
      <th>Neighborhood</th>
      <th>Schools</th>
      <th>Transportation</th>
      <th>Job</th>
      <th>Market</th>
      <th>Sports</th>
      <th>Recreation</th>
      <th>Culture</th>
      <th>Health</th>
      <th>Currency</th>
      <th>Consulate</th>
      <th>Population</th>
      <th>Cost of living</th>
      <th colspan="3"></th>
    </tr>
  </thead> -->

  <tbody>
    <% @cities.each do |city| %>
      <tr class="listcity">
        <td><%= city.history %></td>
        <td><%= city.neighborhood %></td>
        <td><%= city.schools %></td>
        <td><%= city.transportation %></td>
        <td><%= city.job %></td>
        <td><%= city.market %></td>
        <td><%= city.sports %></td>
        <td><%= city.recreation %></td>
        <td><%= city.culture %></td>
        <td><%= city.health %></td>
        <td><%= city.currency %></td>
        <td><%= city.consulate %></td>
        <td><%= city.population %></td>
        <td><%= city.cost_of_living %></td>
        <td><%= link_to 'Show', city %></td>
        <td><%= link_to 'Edit', edit_city_path(city) %></td>
        <td><%= link_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New City', new_city_path %>
<%= link_to 'Back', cities_path %>
