<p id="notice"><%= notice %></p>

<p>
  <strong>History:</strong>
  <%= @city.history %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @city.neighborhood %>
</p>

<p>
  <strong>Schools:</strong>
  <%= @city.schools %>
</p>

<p>
  <strong>Transportation:</strong>
  <%= @city.transportation %>
</p>

<p>
  <strong>Job:</strong>
  <%= @city.job %>
</p>

<p>
  <strong>Market:</strong>
  <%= @city.market %>
</p>

<p>
  <strong>Sports:</strong>
  <%= @city.sports %>
</p>

<p>
  <strong>Recreation:</strong>
  <%= @city.recreation %>
</p>

<p>
  <strong>Culture:</strong>
  <%= @city.culture %>
</p>

<p>
  <strong>Health:</strong>
  <%= @city.health %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @city.currency %>
</p>

<p>
  <strong>Consulate:</strong>
  <%= @city.consulate %>
</p>

<p>
  <strong>Population:</strong>
  <%= @city.population %>
</p>

<p>
  <strong>Cost of living:</strong>
  <%= @city.cost_of_living %>
</p>

<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
