<p id="notice"><%= notice %></p>


<div class="container-upperbox">
    <nav class="second-nav-bar">
      <ul class="second-nav-ul">
        <li class="nav-item"><span class="nav-link-text"><%= link_to "Home", welcome_index_path() %></span></li>
        <li class="nav-item"><span class="nav-link-text"><%= link_to "Destinations", cities_path %></span></li>
        <li class="nav-item"><span class="nav-link-text"><%= link_to "Articles", articles_path() %></span></li>
        <!-- <li class="nav-item"><span class="nav-link-text">Budget Calculator</span></li> -->
      </ul>
    </nav>
  <!-- Insert a picture in the background -->
</div>

<div class="user-main-content">
  <div class="left-content">
    <nav class="nav-barleft">
      <ul class="nav-ul">
        <li><a href="#" id="history">History</a></li>
        <li><a href="#" id="weather">Weather</a></li>
        <li><a href="#" id="neighborhood">Neighborhood</a></li>
        <li><a href="#" id="schools">Schools</a></li>
        <li><a href="#" id="transportation">Transportation</a></li>
        <li><a href="#" id="jobmarket">Job Market</a></li>
        <li><a href="#" id="sports">Sports</a></li>
        <li><a href="#" id="recreation">Recreation</a></li>
        <li><a href="#" id="culture">Culture</a></li>
        <li><a href="#" id="health">Health</a></li>
        <li><a href="#" id="currency">Curreny</a></li>
        <li><a href="#" id="consulates">Consulates</a></li>
        <li><a href="#" id="population">Population</a></li>
      </ul>
    </nav>
</div>

<div class="middle-content">
  <div id="history" class="hidden">
    <h2>History</h2>
    <ul class="container">
      <li><%= @city.history %></li>
      <!-- <li><img src="" width="100" height="100" alt="" />Comment #1</li> -->
    </ul>
    <!-- <form action="#" method="post">
      <textarea name="comments" id="comments" style="font-family:sans-serif;font-size:1.2em;">Hey... say something!</textarea>
        <input type="submit" value="Submit">
    </form> -->
  </div>

  <div id="weather" class="hidden">
    <h2>Weather</h2>
    <ul class="container">
      <li><%= @city.weather %></li>
  </div>

  <div id="neighborhood" class="hidden">
    <h2>Neighborhood</h2>
    <ul class="container">
      <li><%= @city.neighborhood %></li>
  </div>

  <div id="schools" class="hidden">
    <h2>Schools</h2>
    <ul class="container">
      <li><%= @city.schools %></li>
  </div>

  <div id="transportation" class="hidden">
    <h2>Transportation</h2>
    <ul class="container">
      <li><%= @city.transportation %></li>
  </div>

  <div id="jobmarket" class="hidden">
    <h2>Job Market</h2>
    <ul class="container">
  </div>

  <div id="sports" class="hidden">
    <h2>Sports</h2>
    <ul class="container">
      <li><%= @city.sports %></li>
  </div>

  <div id="recreation" class="hidden">
    <h2>Recreation</h2>
    <ul class="container">
      <li><%= @city.recreation %></li>
  </div>

  <div id="culture" class="hidden">
    <h2>Culture</h2>
    <ul class="container">
      <li><%= @city.culture %></li>
  </div>

  <div id="health" class="hidden">
    <h2>Health</h2>
    <ul class="container">
      <li><%= @city.health %></li>
  </div>

  <div id="currency" class="hidden">
    <h2>Currency</h2>
    <ul class="container">
      <li><%= @city.currency %></li>
  </div>

  <div id="consulates" class="hidden">
    <h2>Consulates</h2>
    <ul class="container">
      <li><%= @city.consulate%></li>
  </div>

  <div id="population" class="hidden">
    <h2>Population</h2>
    <ul class="container">
      <li><%= @city.population %></li>
  </div>

</div>

<%= link_to 'Back', cities_path %>

    <div class="right-content">
      <h2>Cost of Living</h2>
      <div class="cost-item">
        <h4>Housing</h4>
        <span class="cost-number">$99,999</span>
      </div>
      <div class="cost-item">
        <h4>Food</h4>
        <span class="cost-number">$99,999</span>
      </div>
      <div class="cost-item">
        <h4>Transportation</h4>
        <span class="cost-number">$99,999</span>
      </div>
      <!-- insertar informacion sobre lo que cliquearon -->
    </div>
</div>

<script>
  $(function() {
    $("a#history").click(function(event) {
      event.preventDefault();
      $("div#history").toggle();
      // history should show up, from the start
      $("div#weather").hide();
      $("div#neighborhood").hide();
      $("div#schools").hide();
      $("div#transportation").hide();
      $("div#jobmarket").hide();
      $("div#sports").hide();
      $("div#recreation").hide();
      $("div#culture").hide();
      $("div#health").hide();
      $("div#currency").hide();
      $("div#consulates").hide();
      $("div#population").hide();
    })
  })
  $(function() {
    $("a#weather").click(function(event) {
      event.preventDefault();
      $("div#weather").toggle();
      $("div#history").hide();
      $("div#neighborhood").hide();
      $("div#schools").hide();
      $("div#transportation").hide();
      $("div#jobmarket").hide();
      $("div#sports").hide();
      $("div#recreation").hide();
      $("div#culture").hide();
      $("div#health").hide();
      $("div#currency").hide();
      $("div#consulates").hide();
      $("div#population").hide();
    })
  })
  $(function() {
    $("a#neighborhood").click(function(event) {
      event.preventDefault();
      $("div#neighborhood").toggle();
      $("div#history").hide();
      $("div#weather").hide();
      $("div#schools").hide();
      $("div#transportation").hide();
      $("div#jobmarket").hide();
      $("div#sports").hide();
      $("div#recreation").hide();
      $("div#culture").hide();
      $("div#health").hide();
      $("div#currency").hide();
      $("div#consulates").hide();
      $("div#population").hide();
    })
  })
  $(function() {
    $("a#schools").click(function(event) {
      event.preventDefault();
      $("div#schools").toggle();
      $("div#history").hide();
      $("div#weather").hide();
      $("div#neighborhood").hide();
      $("div#transportation").hide();
      $("div#jobmarket").hide();
      $("div#sports").hide();
      $("div#recreation").hide();
      $("div#culture").hide();
      $("div#health").hide();
      $("div#currency").hide();
      $("div#consulates").hide();
      $("div#population").hide();
    })
  })
  $(function() {
    $("a#transportation").click(function(event) {
      event.preventDefault();
      $("div#transportation").toggle();
      $("div#history").hide();
      $("div#weather").hide();
      $("div#neighborhood").hide();
      $("div#schools").hide();
      $("div#jobmarket").hide();
      $("div#sports").hide();
      $("div#recreation").hide();
      $("div#culture").hide();
      $("div#health").hide();
      $("div#currency").hide();
      $("div#consulates").hide();
      $("div#population").hide();
    })
  })
  $(function() {
    $("a#jobmarket").click(function(event) {
      event.preventDefault();
      $("div#jobmarket").toggle();
      $("div#history").hide();
      $("div#weather").hide();
      $("div#neighborhood").hide();
      $("div#schools").hide();
      $("div#transportation").hide();
      $("div#sports").hide();
      $("div#recreation").hide();
      $("div#culture").hide();
      $("div#health").hide();
      $("div#currency").hide();
      $("div#consulates").hide();
      $("div#population").hide();
    })
  })
  $(function() {
    $("a#sports").click(function(event) {
      event.preventDefault();
      $("div#sports").toggle();
      $("div#history").hide();
      $("div#weather").hide();
      $("div#neighborhood").hide();
      $("div#schools").hide();
      $("div#jobmarket").hide();
      $("div#transportation").hide();
      $("div#recreation").hide();
      $("div#culture").hide();
      $("div#health").hide();
      $("div#currency").hide();
      $("div#consulates").hide();
      $("div#population").hide();
    })
  })
  $(function() {
    $("a#recreation").click(function(event) {
      event.preventDefault();
      $("div#recreation").toggle();
      $("div#history").hide();
      $("div#weather").hide();
      $("div#neighborhood").hide();
      $("div#schools").hide();
      $("div#jobmarket").hide();
      $("div#transportation").hide();
      $("div#sports").hide();
      $("div#culture").hide();
      $("div#health").hide();
      $("div#currency").hide();
      $("div#consulates").hide();
      $("div#population").hide();
    })
  })
  $(function() {
    $("a#culture").click(function(event) {
      event.preventDefault();
      $("div#culture").toggle();
      $("div#history").hide();
      $("div#weather").hide();
      $("div#neighborhood").hide();
      $("div#schools").hide();
      $("div#jobmarket").hide();
      $("div#transportation").hide();
      $("div#recreation").hide();
      $("div#sports").hide();
      $("div#health").hide();
      $("div#currency").hide();
      $("div#consulates").hide();
      $("div#population").hide();
    })
  })
  $(function() {
    $("a#health").click(function(event) {
      event.preventDefault();
      $("div#health").toggle();
      $("div#history").hide();
      $("div#weather").hide();
      $("div#neighborhood").hide();
      $("div#schools").hide();
      $("div#jobmarket").hide();
      $("div#transportation").hide();
      $("div#recreation").hide();
      $("div#sports").hide();
      $("div#culture").hide();
      $("div#currency").hide();
      $("div#consulates").hide();
      $("div#population").hide();
    })
  })
  $(function() {
    $("a#currency").click(function(event) {
      event.preventDefault();
      $("div#currency").toggle();
      $("div#history").hide();
      $("div#weather").hide();
      $("div#neighborhood").hide();
      $("div#schools").hide();
      $("div#jobmarket").hide();
      $("div#transportation").hide();
      $("div#recreation").hide();
      $("div#sports").hide();
      $("div#health").hide();
      $("div#culture").hide();
      $("div#consulates").hide();
      $("div#population").hide();
    })
  })
  $(function() {
    $("a#consulates").click(function(event) {
      event.preventDefault();
      $("div#consulates").toggle();
      $("div#history").hide();
      $("div#weather").hide();
      $("div#neighborhood").hide();
      $("div#schools").hide();
      $("div#jobmarket").hide();
      $("div#transportation").hide();
      $("div#recreation").hide();
      $("div#sports").hide();
      $("div#health").hide();
      $("div#culture").hide();
      $("div#currency").hide();
      $("div#population").hide();
    })
  })
  $(function() {
    $("a#population").click(function(event) {
      event.preventDefault();
      $("div#population").toggle();
      $("div#history").hide();
      $("div#weather").hide();
      $("div#neighborhood").hide();
      $("div#schools").hide();
      $("div#jobmarket").hide();
      $("div#transportation").hide();
      $("div#recreation").hide();
      $("div#sports").hide();
      $("div#health").hide();
      $("div#culture").hide();
      $("div#consulates").hide();
      $("div#currency").hide();
    })
  })
</script>
